<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778398198141-u3oho10dhdb8rmr1tblliin381lnis8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778398198141-u3oho10dhdb8rmr1tblliin381lnis8p</string>
	<key>API_KEY</key>
	<string>AIzaSyAQBpL7wfYpr1l1pGzFHceQYcdtelUuCKY</string>
	<key>GCM_SENDER_ID</key>
	<string>778398198141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Filmku</string>
	<key>PROJECT_ID</key>
	<string>filmku-7a608</string>
	<key>STORAGE_BUCKET</key>
	<string>filmku-7a608.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778398198141:ios:81392abf271c4f90df8414</string>
</dict>
</plist>